body {
  background-color: black;
  display: flex;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.contenitore {
  width: 110em;
  height: 50em;
  background-color: grey;
  margin-top: 8em;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.postit1 {
  background-color: rgb(249, 250, 200);
  box-shadow: 1px 2px 4px;
  width: 20em;
  height: 20em;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-6deg);
  animation: Attaccare 3s linear 0s;
}

.postit2 {
  background-color: rgb(200, 248, 202);
  box-shadow: 1px 2px 4px;
  width: 20em;
  height: 20em;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(6deg);
  animation: Attaccare 3s linear 0s;
}

.postit3 {
  background-color: rgb(199, 199, 245);
  box-shadow: 1px 2px 4px;
  width: 20em;
  height: 20em;
  margin-left: 3em;
  margin-right: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(-6deg);
  animation: Attaccare 3s linear 0s;
}

.postit1:hover {
  transform: rotate(0deg);
}

.postit2:hover {
  transform: rotate(0deg);
}

.postit3:hover {
  transform: rotate(0deg);
}

h3 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

p {
  font-size: 1.8em;
}

@keyframes Attaccare {
  0% {
    transform: scaleX(4) scaleY(4);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
